// Colors
$primary: hsl(193, 38%, 86%);
$accent: hsl(150, 100%, 66%);

$grayishBlue: hsl(217, 19%, 38%);
$darkGrayishBlue: hsl(217, 19%, 24%);
$darkBlue: hsl(218, 23%, 16%);

// Font
$fontSizeStd: 2.8rem;
